.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;
    margin-bottom: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;

    span{
        text-align: center;
        font-size: 1.2rem;
    }
}