:root{
 --primary-color: #02005A;
 --second-color: #DFEBFC;
 --danger-color: #FF0505;
 --safe-color: #1BAC6F;
 --warning-color: #E2A300;
 --gray-color: #ccc;
 --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--second-color);
}